<html>

<head>
    <title>Meal Assign Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/mealassignstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>

    <div class = "container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        <div>
            <div class= "icons"> 
                <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
                <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
            </div>
        </div>
    </div>

    

    <div class= "main">
        <h1>Meal Assign for: X</h1>

        <div class="layout"> 

            <div class="programbox">
                <div class= "programlist">
                    <form action="" method="post">    
                        {%for row in current_meal_items%}
                        <button name = "removemeal" value="{{row.0}}" type = "submit" class="added-meal">
                            <img src= "/static/image/meal.jpg">
                            <p> {{row[2]}} </p>
                        </button>
                        {%endfor%}
                    </form>
                    
                    
                </div>

                <div class="buttonsection">
                    
                    <form action="" method="post">
                    <textarea name = "plan_name" placeholder="Enter name of program"></textarea>
                    

                    
                    <button name = "done" value> 
                        Done
                    </button>
                    </form>
                </div>
                
                
            </div>
            
            
            

            <div class="line"> </div>

            <div class="meals">
                
                {%for row in meal_items%}    
                <div class="meal">
                    <img src= "/static/image/meal.jpg">
                    <div>
                        <h2>{{row[1]}}</h2>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p>Calories(kcal): {{row[3]}} </p>
                        <p>: </p>
                        
                        <form action="" method="post">
                        <button name="addmeal" value="{{row.0}}" type="submit" class="btn btn-primary">add</button>	
                        </form>
                    </div>
                </div>
                {%endfor%}

            </div>
    
            
        </div>

        
        
    </div>

</body>

</html>