<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/css/traineehomepagestylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>

    <div class = "container">
        <div class="form-analysis">
            <a href=""> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        <div>
            <div class= "icons"> 
                <a href="{{ url_for('logout') }}" style="margin-right: 10px">LOG-OUT</a>
                <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
                <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
            </div>
        </div>
    </div>

    <!--
    <div class= "main">
        <h1>Welcome back, {{fname_lname[0]}} {{fname_lname[1]}}</h1>
        <h1>My Trainees and Requests</h1>

        <div class="requests-list">
            <ul>
                {% for row in requests %}
                <li>
                    <p>Trainee Name: {{ row[0] }}</p>
                    <p>Trainee Surname : {{ row[1] }}</p>
                    <p>Gender: {{ row[2] }}</p>
                    <p>Age: {{ row[3] }}</p>
                    <p>Height: {{ row[4] }} </p>
                    <p>Weight: {{ row[5] }} </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    -->

    <div class= "main">
        <h1>Welcome back, {{fname_lname[0]}} {{fname_lname[1]}}</h1>
        <h1>From My Trainees</h1>

        <div class= "form-group">
            <form action="{{ url_for('') }}" method="get"> <!-- Here there should be the URL for adding a trainee-->
                <button>
                    <img src= "/static/image/plus.png">
                    Add Trainee
                </button>
            </form>

            {% if trainees %}
            {% for row in trainees %}
            <div class="form-group">
                <form action="{{ url_for('') }}" method="get"> <!-- Here there should be the URL for the trainee-->
                    <button>
                        <img id="traineepp" src="/static/image/pp.png">
                        <div>
                            <p>{{ row[0] }} {{ row[1] }}</p>
                            <p>{{ row[2] }}, {{ row[3] }} y.o.</p>
                        </div>
                    </button>
                </form>
                <a class="delete-button">x</a>
            </div>
            {% endfor %}
            {% endif %}
    
        </div>

        
        <h1>Requests</h1>

        <div class= "requests-list">
            {% for row in requests%}
            <form action="/homepage" method="post">
                <div class="request">
                    <img id="trainerpp" src= "/static/image/pp.png">
                    <div>
                        <p>{{ row[0] }} {{ row[1] }}</p>
                        <p>{{ row[2] }}, {{ row[3] }} y.o.</p>
                        <p>{{ row[4] }} cm, {{ row[5] }} kg</p>
                        <!-- Maybe a note for request can be added in here-->
                        <button name="accept" value="{{row.6}}" type="submit" class="btn btn-primary">Accept</button>
                        <button name="deny" value="{{row.6}}" type="submit" class="btn btn-primary">Deny</button>	
                    </div>
                </div>
            </form>
            {%endfor%}        
        </div>

        
    </div>

</body>
</html>