<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/css/traineehomepagestylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>

    <div class = "container">
        <div class="form-analysis">
            <a href=""> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        <div>
            <div class= "icons"> 
                <a href="{{ url_for('logout') }}" style="margin-right: 10px">LOG-OUT</a>
                <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
                <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
            </div>
        </div>
    </div>

    <div class="main">
        <h1>Welcome back, {{ fname_lname['first_name'] }} {{ fname_lname['last_name'] }}</h1>
        <h1>My Trainees and Requests</h1>
        <div>
            {% for req in requests %}
            <div>
                <p>Request from {{ req['first_name'] }} {{ req['last_name'] }}: {{ req['note'] }}</p>
                <p>Type: {{ req['type'] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>