<html>

<head>
    <title>Workout Assign Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/workoutassignstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>

    <div class = "container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        <div>
            <div class= "icons"> 
                <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
                <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
            </div>
        </div>
    </div>

    <div class= "main">
        <h1>Workout Assign</h1>

        <div class="layout"> 

            <div class="programbox">
                <div class= "programlist">
                    <form action="" method="post">    
                        {%for row in current_exercises%}
                        <button name = "removeexercise" value="{{row.0}}" type = "submit" class="added-workout">
                            <img src= "/static/image/workout.jpeg">
                            <p> {{row[2]}} </p>
                        </button>
                        {%endfor%}
                    </form>
                    
                    
                </div>

                <div class="buttonsection">
                    
                    <form action="" method="post">
                    <textarea name = "routine_name" placeholder="Enter name of program"></textarea>
                    

                    
                    <button name = "done" value> 
                        Done
                    </button>
                    </form>
                </div>
                
                
            </div>
            
            
            

            <div class="line"> </div>

            <div class="workouts">
                
                {%for row in exercises%}    
                <div class="workout">
                    <img src= "/static/image/workout.jpeg">
                    <div>
                        <h2>Name: {{row[1]}}</h2>
                        <p>Description: {{row[2]}}</p>
                        <p>Target Muscles: {{row[3]}}</p>
                        <p>Difficulty Level: {{row[4]}}</p>
                        <p>Set Size: {{row[5]}}</p>
                        <p>Repeat Size: {{row[6]}}</p>
                        
                        <form action="" method="post">
                        <button name="addexercise" value="{{row.0}}" type="submit" class="btn btn-primary">add</button>	
                        </form>
                    </div>
                </div>
                {%endfor%}

            </div>
    
            
        </div>

        
        
    </div>


</body>

</html>