<html>

<head>
    <title>Register</title>
</head>

<form action="{{ url_for('register') }}" method="post">
	
	{% if message is defined and message %}
		<div class="alert alert-warning">{{ message }}</div>
	{% endif %}
	<div class="form-group">
		<label for="username">Username:</label>
		<input type="text" class="form-control" id="username" name="username" placeholder="Enter name">
	</div>
	<div class="form-group">
		<label for="email">Email:</label>
		<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="date">Date of Birth:</label>
		<input type="date" name="date" id="date" placeholder="Enter your birthday">
	</div>
	<div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
	</div>
	<div class="form-group">
		<label for="pwd">Confirm Password:</label>
		<input type="password" class="form-control" id="passwordconfirm" name="passwordconfirm" placeholder="Enter password again">
	</div>  

	<div>
		<label for="trainee">Trainee</label>
		<input type="radio" id="trainee" name="typeOfUser" value="trainee">
		<br>
		<label for="trainer">Trainer</label>
		<input type="radio" id="trainer" name="typeOfUser" value="trainer">	
	</div>
	<br>
	<div>
		<label for="male">Male</label>
		<input type="radio" id="male" name="genderOfUser" value="male">
		<br>
		<label for="female">Female</label>
		<input type="radio" id="female" name="genderOfUser" value="female">	
	</div>

	<button type="submit" class="btn btn-primary">Register</button>		
</form>

<div class="test">
	<form action="{{ url_for('login') }}" method="get">
		<button class="btn btn-primary">Login</button>
	</form>
</div>

</html>