body {
    background-color: #56ED65;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-box h2 {
    color: black;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #56ED65;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-analysis {
    margin-left: 20px; /* Adjust spacing between form box and form analysis */
}

/* Responsive Design */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .form-box,
    .form-analysis {
        margin-left: 0;
        width: 100%;
    }
}
