body {
    background-color: #56ED65;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 140px;
    margin-bottom: 100px;
}

.brand img {
    width: 200px;
    rotate: 270deg;
}

.form-analysis {
    margin: 0px; /* Adjust spacing between form box and form analysis */
    color: white;
    font-size:50px;
}

.form-box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 35px;
    
}

.form-box h2 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex; /* Add this line */
    justify-content: flex-end;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    background-color: #E6E6E6;
    width: 250px;
    padding: 10px;
    border: 1px solid #909090;
    border-radius: 12px;
    font-size: large;
    color: #000000;
}

.form-group button {
    width: 90px;
    padding: 8px;
    border:1px solid #ccc;
    border-radius: 15px;
    background-color: #56ED65;
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    
}

.form-group button:hover {
    opacity: 85%;
}

.form-group2 {
    margin-bottom: 20px;
    display: flex; 
    justify-content:left;
    flex-direction: column;
}

.form-group2 p {
    color: #909090;
    margin-bottom: 0;
    margin-top: 20px;
}

.form-group2 a {
    color: #15A723;
    display: block;
    
}

/* Responsive Design */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .form-box,
    .form-analysis {
        margin-left: 0;
        width: 100%;
    }
}
