<html>

<head>
    <title>Homepage</title>
</head>
<body>

    <body>
        
        <div class = "container">
            <div class="">
                <h1> FormAnalysis </h1>
            </div>
        </div>
        
        <div>
            <h2> Welcome back x
                <button>Settings</button>
                <form action="{{url_for('profile')}}" method="get"><button>Profile Picture</button></form>
            </h2>
        </div>

        <div>
            <h3>From My Trainer</h3>
            <form action="{{ url_for('add_pt') }}" method="get">
                <button>Add Personal Trainer</button>
            </form>
            <form action="{{ url_for('programs') }}" method="get">
                <button type="submit">John Doe</button>
                <div>23years old, 32kgs, 110cm</div>
            </form>
            
        </div>

        <div>
            <h3>My Progress</h3>

            <form action="{{url_for('add_goals')}}" method="get"> <button>Add Goal</button> </form>

            <form action="{{url_for('my_goals')}}" method="get"> <button>My Goals</button> </form>
            
            <form action="{{url_for('workout_session')}}" method="get"> <button>Workout Session</button> </form>
        </div>
        
        
    </body>
</html>