* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

body {
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container {
    align-items: center;
    display: flex;
    background-color:#56ED65;
    color: white;
    height: 70px;
}

.form-analysis h1 {
    width: 210px;
}

.form-analysis h1:hover {
    opacity: 40%;
}

.form-analysis a {
    width: 210px;
}

.form-analysis {
    margin-left: 610px;
    width: 210px;
    font-size: xx-large;
    flex-grow: 1;
    text-align: center; 
    margin-right: 500px;
}

.form-analysis div {
    width: 100px;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-align: right;
}

.icons img{
    height: 50px;
    margin-left: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #000000;
}

.icons a:hover{
    opacity: 75%;
}

.main {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    font-size: x-large;
    margin: 20px 0px 20px 0px;
}

.form-group {
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    display: flex;
}

button {
    width: 350px;
    height: 250px;
    padding: 8px;
    border:1px solid #ccc;
    border-radius: 15px;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 35px;
    padding: 40px;
    font-size: x-large;
    justify-content: space-between;
    text-align: right;

    display: flex; 
    align-items: center; 
    cursor: pointer;
}

button:hover {
    background-color: #a0a0a0;
}

.form-group div:hover {
    opacity: 85%;
}

.form-group img {
    height: 90px;
    margin-left: 10px;
}

#request {
    height: 85px;
    margin-left: 0px;
}

.form-group p {
    margin-right: -10px;
}