body {
    background-color: #56ED65;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box {
    width: 350px;
    height: 570px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
}

form {
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.form-group {
    margin: 6px;
}

.form-group input {
    background-color: #E6E6E6;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    padding: 15px;
    border: 1px solid #8C8C8C;
    font-size: medium;
}

button {
    width: 90px;
    padding: 8px;
    border:1px solid #ccc;
    border-radius: 15px;
    background-color: #56ED65;
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 50px;
    
}

.form-box button:hover {
    opacity: 85%;
}

.radio-form {
    margin: 20px;
}

.radio-forms {
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.line {
    background-color: #15A723;
    width: 2px;
    height: 80px;

}

label{
    font-size: medium;
}