* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

body {
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container {
    align-items: center;
    display: flex;
    background-color:#56ED65;
    color: white;
    height: 70px;
}

.go-back {
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

.go-back:hover {
    text-decoration: underline;

}


.form-analysis h1 {
    width: 210px;
}

.form-analysis h1:hover {
    opacity: 40%;
}

.form-analysis a {
    width: 210px;
}

.form-analysis {
    margin-left: 510px;
    width: 210px;
    font-size: xx-large;
    flex-grow: 1;
    text-align: center; 
    margin-right: 500px;
}

.form-analysis h1 {
    font-weight: bold;
    font-size: x-large;
    margin: 20px 0px 20px 0px;
}

.form-analysis div {
    width: 100px;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-align: right;
}

.icons img{
    height: 50px;
    margin-left: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #000000;
}

.icons a:hover{
    opacity: 75%;
}

.main {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-weight: normal;
    font-size: xx-large;
    margin: 20px 0px 20px 0px;
}

.box {
    margin-top: 30px;
    display: flex;
}

.sub-box1 {
    background-color: #D9D9D9;
    width: 300px;
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius:  30px 0 0 30px ;
}

.sub-box2 {
    background-color: #D9D9D9;
    width: 300px;
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 0 30px 30px 0;
}

.box h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
}

.line {
    height: 350px;
    width: 2px;
}

textarea {
    padding: 5px;
    border-radius: 10px;
    resize: none;
    width: 250px;
    height: 100px;
}

.box button {
    width: 250px;
    padding: 8px;
    border:1px solid #ccc;
    border-radius: 15px;
    background-color: #56ED65;
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    margin: 20px;

}


.box button:hover {
    background-color: #15A723;
}


.icon-box {
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #56ED65;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.icon-box img {
    height: 90px;
    
}