* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

body {
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container {
    align-items: center;
    display: flex;
    background-color:#56ED65;
    color: white;
    height: 72px;

}

.form-analysis h1 {
    width: 210px;
    font-weight: bold;
    padding-bottom: 5px;
}

.form-analysis h1:hover {
    opacity: 40%;
}

.form-analysis a {
    width: 210px;
}

.form-analysis {
    margin-left: 610px;
    width: 210px;
    font-size: xx-large;
    flex-grow: 1;
    text-align: center; 
    margin-right: 500px;
}

.form-analysis div {
    width: 100px;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-align: right;
}

.icons img{
    height: 50px;
    margin-left: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #000000;
}

.icons a:hover{
    opacity: 75%;
}

.main {
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.main img {
    height: 250px;
    margin-right: 20px;
    border-radius: 50%;
}

.main a {
    border-radius: 50%;
}

.main a:hover {
    opacity: 75%;
}

.upper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.lower {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

h1 {
    font-weight: bold;
    font-size: x-large;
    margin: 20px 0px 15px 0px;
}

.profile-section {
    display: flex;
    width: 670px;
}

.trainer-section {
    margin-left: 20px;

}

.line {
    background-color: #15A723;
    width: 3px;
    height: 250px;

}

button {
    width: 160px;
    padding: 4px;
    border:1px solid #ccc;
    border-radius: 15px;
    background-color: #56ED65;
    color: white;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 85%;
}