* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

body {
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container {
    align-items: center;
    display: flex;
    background-color:#56ED65;
    color: white;
    height: 70px;
}

.form-analysis h1 {
    width: 210px;
    font-weight: bold;
    font-size: x-large;
}

.form-analysis h1:hover {
    opacity: 40%;
}

.form-analysis a {
    width: 210px;
}

.form-analysis {
    margin-left: 610px;
    width: 210px;
    font-size: xx-large;
    flex-grow: 1;
    text-align: center; 
    margin-right: 500px;
}

.form-analysis div {
    width: 100px;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 18px;
    text-align: right;
}

.icons img{
    height: 50px;
    margin-left: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #000000;
}

.icons a:hover{
    opacity: 75%;
}

.main h1 {
    
    font-weight: bold;
    font-size: x-large;
    margin: 20px 0px 10px 15px;
}


button {
    width: 75px;
    padding: 6px;
    border:1px solid #ccc;
    border-radius: 15px;
    background-color: #56ED65;
    color: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    
}

button:hover {
    background-color: #15A723
}

.form-box button:hover {
    opacity: 85%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #000000;
    margin: 15px 0 15px 0;
}

.filter-section {
    margin-left: 15px;
}

.filter-section select{
    margin-right: 27px;
}

.filter-section label {
    margin-right: 3px;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
}

.session-list {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    max-width: 1400px;
    margin: 20px;
}

.session {
    border: 1px solid #000000;
    border-radius: 10px;
    width: 300px;
    box-shadow: 3px 3px 20px #666;
    margin-bottom: 20px;
    margin-right: 20px;
}

.session .header {
    height: 50px;
    width: 298px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(228, 148, 0);
    border-bottom: 1px solid #000000;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Caveat'; 
    font-size: large;
    color: white;
}

.session .paper {
    
    height: 300px;
    width: 298px;
    border-radius: 0 0 10px 10px;
    background-color:floralwhite;
    padding: 15px;

    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'Caveat'; 
    font-size: x-large;
    color: rgb(0, 0, 0);

}
