<html>

<head>
    <title>Nutrition Programs</title>
    <link rel="stylesheet" type="text/css" href="static/css/nutritionprogstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>
    <div class="container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        
        <div class="icons">
            <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
        </div>
        
    </div>

    <div class = "main">
        <h1>My Nutrition Programs</h1>

        {% for plan_name, meals in plans_with_meals.items() %}
            <div class="program-box">

                <div class="header">
                    <h2>{{ plan_name }}</h2>
                </div>
                {% for meal in meals %}

                <div class="paper">            
                    <strong>Meal Name:</strong> {{ meal[0] }}
                    <strong>Calories:</strong> {{ meal[1] }}
                </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
</body>

</html>