<html>

<head>
    <title>Program Requests</title>
    <link rel="stylesheet" type="text/css" href="static/css/programsstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>
    <div class="container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        
        <div class="icons">
            <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
        </div>
        
    </div>

    <div class="main" >
        <div>
            <h1>From My Trainer: X</h1>
        </div>
    
        <div class="form-group">

            <form action="{{url_for('req_prog')}}" method="get"> 
                <button>
                    <img src= "/static/image/dumbbell.png" style= "rotate: 135deg;"> 
                    Workout Program              
                </button> 
            </form>

            <form action="{{url_for('nutr_prog')}}" method="get"> 
                <button>
                    <img id="forkknife" src= "/static/image/forkknife.png"> 
                    Nutrition Program                
                </button> 
            </form>
            
            <form action="{{url_for('work_prog')}}">
                <button>
                    <img id="request" src= "/static/image/request.png"> 
                    Request New Program  
                </button>
            </form>

        </div>
    </div>
    
</body>

</html>