<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/css/homepagestylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>
    <div class="container">
        <div class="form-analysis">
            <h1>FormAnalysis</h1>
        </div>
        
        <div class="icons">
            <a href=""><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            <a href=""><img src= "/static/image/pp.png"></a>
        </div>
        
    </div>
    <div class="main">
        <h1>From My Trainer</h1>

        <div class="form-group">
            <button type="submit">
                <img src= "/static/image/plus.png"> <!-- trainer -->
                Add Trainer
            </button>
        </div>

        <h1>My Progress</h1>

        <div class="form-group">
            <button type="submit">
                <img src= "/static/image/plus.png">     
                Add Goal
            </button>

            <button type="submit">
                <img src= "/static/image/progress.png">  
                My Goals
            </button>

            <button type="submit">
                <img src= "/static/image/dumbbell.png" style= "rotate: 135deg;"> 
                Workout Session
            </button>

        </div>

    </div>

    


</body>
</html>
