<html>

<head>
    <title>Add Goal</title>
    <link rel="stylesheet" type="text/css" href="static/css/addgoalstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">

</head>

<body>
    <div class="container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        
        <div class="icons">
            <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
        </div>
        
    </div>

    <div class= "main">
        <h1>Add Goal</h1>
       
        <form method="post">
            <div class = "goal-form">
                <textarea name="goal" required></textarea>
                <button type="submit" value="Submit">Submit</button>
            </div>
        </form>
        
    </div>
</body>

</html>