<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/css/traineehomepagestylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>

    <div class = "container">
        <div class="form-analysis">
            <a href=""> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        <div>
            <div class= "icons"> 
                <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
                <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
            </div>
        </div>
    </div>

    <div class= "main">
        <h1>Welcome back, X </h1>
        <h1>From My Trainer</h1>

        <div class= "form-group">
            <form action="{{ url_for('add_pt') }}" method="get">
                <button>
                    <img src= "/static/image/plus.png">
                    Add Personal Trainer
                </button>
            </form>

            <form action="{{ url_for('programs') }}" method="get">
                <button>
                    <img id="trainerpp" src= "/static/image/pp.png">
                    <div>
                        <p>John Doe</p>
                        <p>male, 23 y.o.</p>
                    </div>

                </button>
            </form>
            <a class="delete-button">x</a>
        </div>

        <h1>My Progress</h1>

        <div class= "form-group">
            <form action="{{url_for('add_goal')}}" method="get">    
                <button>
                    <img src= "/static/image/plus.png">  
                    Add Goal
                </button> 
            </form>

            <form action="{{url_for('my_goals')}}" method="get"> 
                <button>
                    <img src= "/static/image/progress.png">  
                    My Goals
                </button> 
            </form>
            
            <form action="{{url_for('workout_session')}}" method="get"> 
                <button>
                    <img src= "/static/image/dumbbell.png" style= "rotate: 135deg;"> 
                    Workout Session
                </button> 
            </form>
        </div>
        
    </div>

</body>
</html>