<html>

<head>
    <title>My Goals</title>
    <link rel="stylesheet" type="text/css" href="static/css/mygoalsstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>
    <div class="container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        
        <div class="icons">
            <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
        </div>
        
    </div>

    <div class="main">
        <h1>My Goals</h1>

        <div class="goals-section"> 
            {%for row in goals_data%}
            <div class="goal">
                <p> {{row}} </p>
                <p id="date"> date: </p>
            </div>
            {%endfor%}
        </div>
    </div>
</body>

</html>