<html>

<head>
    <title>Personal Diet Program</title>
    <link rel="stylesheet" type="text/css" href="static/css/personaldietprogramstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">   
</head>

<body>
    <div class="container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        
        <div class="icons">
            <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
        </div>
        
    </div>

    <div class="main">
        <h1>Personal Diet Program Assigned by the System</h1>
        <div class="layout">
            {% for plan in nutrition_plans %}
            <div class="program-box">

                <div class="header">
                    {{person[0]}} {{person[1]}}'s Personal Diet Program
                </div>
                <div class="paper">
                    <p><strong>Name:</strong> {{ plan[1] }}</p>
                    <p><strong>Description:</strong> {{ plan[2] }}</p>
                    <p><strong>Calories:</strong> {{ plan[4] }}</p>
                    <p><strong>Meal List:</strong> {{ plan[3] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</body>

</html>