<html>

<head>
    <title>Personal Workout Programs</title>
    <link rel="stylesheet" type="text/css" href="static/css/personalworkoutprogramstylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">   
</head>

<body>
    <div class="container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        
        <div class="icons">
            <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            <a href="{{url_for('profile')}}"><img src= "/static/image/pp.png"></a>
        </div>
        
    </div>

    <div class="main">
        <h1>Personal Workout Program Assigned by the System</h1>

        <div class="program-box">

            <div class="header">
                X's Personal Workout Program
            </div>
            <div class="paper">
                aaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaa
                aaaaaaaaa
                aaaaaaaaa
                aaaaaaaaaaaaaaaaaa
                aaa
                aaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaa
                aaaaaaaaaa
            </div>
        </div>
    </div>
</body>

</html>