<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="static/css/traineeprofilestylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>
    <div class = "container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        <div>
            <div class= "icons"> 
                <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            </div>
        </div>
    </div>

    <div class="main">

        <div class= "profile-section">
            <a href=""><img src= "/static/image/pp.png"></a>

            <div> 
                <h1> {{fname_lname[0]}} {{fname_lname[1]}} </h1>

                {% if message is defined and message %}
                <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                
                {% for row in data%}
                <form action="{{ url_for('profile') }}" method="post">
                    <div class="form-group">Gender: {{row.1}}</div>
                    <div class="form-group">Age: {{row.0}}</div>
                    <div class="form-group">Height: {{row.2}} 
                        <input type="text" class="form-control" id="height" name="height" placeholder=" Change(cm) " required>
                    </div>
                    <div class="form-group">Weight: {{row.3}} 
                        <input type="text" class="form-control" id="weight" name="weight" placeholder=" Change(kg) " required>
                    </div>
                    <div class="form-group">Fat Percentage: {{row.4}} 
                        <input type="text" class="form-control" id="fat" name="fat" placeholder=" Change(fat%) " required>
                    </div>
                    <div>Body Mass Index (BMI) : {{bmi}}</div>
                    <button type="submit"> Change Personal Info</button>
                </form>
                {%endfor%}
            </div>
        </div>

        <div class="line"></div>

        <div class="trainer-section">
            <h1> My Trainer: </h1>
            {% if trainer_info %}
                {% for trainer in trainer_info %}
                    <div class="trainer-details">
                        <p>Name: {{ trainer[1] }} {{ trainer[2] }}</p>
                        <p>Specialization: {{ trainer[4] }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>You currently do not have a trainer assigned.</p>
            {% endif %}
        </div>
        

    </div>

    <hr>
    <script>
        document.getElementById('fat').addEventListener('input', function (e) {
            let value = e.target.value;
            if (value && value[0] !== '%') {
                e.target.value = '%' + value.replace(/%/g, '');
            }
        });
    </script>
</body>

</html>