<html>

<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="static/css/traineeprofilestylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css ">
</head>

<body>
    <div class = "container">
        <div class="form-analysis">
            <a href="{{ url_for('homepage') }}"> 
                <h1>FormAnalysis</h1> 
            </a>
        </div>
        <div>
            <div class= "icons"> 
                <a href="{{url_for('settings')}}"><i class="fa-solid fa-gear fa-2xl" style="color: #000000;"></i></a>
            </div>
        </div>
    </div>

    <div class="main">

        <div class= "profile-section">
            <a href=""><img src= "/static/image/pp.png"></a>

            <div> 
                <h1> John Doe </h1>

                <div> male </div>
                <div>185 cm - 31 kg</div>
                <button type="submit"> Change Personal Info</button>
            </div>
        </div>

        <div class="line"></div>

        <div class= "trainer-section">
            <h1> My Trainer: </h1>
        </div>

    </div>

    <hr>
    
</body>

</html>